.photo-grid {
  display: grid;
  /* grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(3,33%); */
  grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
  grid-template-rows:repeat(auto-fit, minmax(216px,1fr));
  margin-left: 48px;
  margin-right: 48px;
  grid-gap:16px;
  margin-top: 92px;
  border: 1px solid red;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid blue;
  }
}
