.places {
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 92px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width:1140px) {
  .places {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width:984px) {
  .places {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width:568px) {
  .places {
    padding-top: 64px;
    margin:0
}
