.places__link {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter-Regular',sans-serif,Arial;
  text-decoration-line: underline;
  color: white;
}

.places__link:hover {
  opacity: 0.8;
  transition: .5s;
}
