.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 48px;
  margin: 28px 0 0;
  padding-right: 48px;
  min-width: 288px;
  max-width: 1184px;
  font-family: 'Inter-Regular',sans-serif,Arial;

}

@media screen and (max-width: 984px) {
  .header {
  padding-left: 24px;
  padding-right: 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
  padding-left: 16px;
  padding-right: 16px;
    margin-top: 16px;
  }
}
