.bottom-column {
  display: flex;
  margin-top:48px;
}

@media screen and (max-width:568px) {
  .bottom-column {
    flex-direction: column;
    padding-top: 0;
    padding: 0;
    padding-bottom: 50px;
    margin:0;
  }
}
