.footer {
  display: flex;
  justify-content:space-between;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 24px;
  font-family: 'Inter-Regular',sans-serif,Arial;
}

@media screen and (max-width: 740px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    margin-left: 16px;
  }
  .footer {
    flex-direction: column;
    margin-left: 16px;
    margin-top: 64px;
  }
}

@media screen and (max-width:568px) {
  .footer {
    margin-left:16px;
  }
}
