.header__lang-links:last-child {
  margin-right: 0;
}

.header__lang-links {
  margin-right: 18px;
  text-decoration: none;
  color: white;
}

.header__lang-links:hover {
  text-decoration-line: underline;

}
